{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="placeholder">
    {% for chat in chats%}
    {% if chat.id == pk %}
     <h2>{{chat.name}}</h2>
    {% endif %}
    {% endfor %}
</div>
<div class="row">
     <div class="col-lg-2">

         Chats:<br>
         {% for chat in chat_list%}
         <a href="{% url 'chat' chat %}">Chat №{{chat}} </a>
         <br>
         {% endfor %}
          <a href="{% url 'create' %}">Add new Chat</a>
 </div>
    <div class="col-lg-8">
        <div class="text">


    {% if messages.count > 0 %}
            {% for messages in messages %}
            {%if username.username == messages.author.username %}

            <div class="right_text"><p class="p_message">{{messages.message}}<br> From: {{messages.author.username}}</p></div>
            {% else %}
       <div class="left_text"><p class="p_message">{{messages.message}}<br> From: {{messages.author.username}}</p></div><br>
            {% endif %} {% endfor %}
        {% else%}
            <p>No messages</p>
        {% endif %}

        </div>
        <form action="" method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" class="send" value="Submit">
        </form>
    </div>
    <div class="col-lg-2">
        Users:<br>
        {% for user in users_name %}
        {{user}} <br>
        {% endfor %}
        <a href="{% url 'add' %}">Add new User</a>
     </div>
        </div>


{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content %}