{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    {% if user.is_authenticated %}
        {% if message != Null %}
             <p>  {{message}} </p>
{% else %} <p> You do not have access to this chat, create or ask to invite </p>
        {% endif %}
Return to: <a href="{% url 'create' %}">Create chat</a>
            <p><a href="{% url 'chat_list' %}">List of your available chats</a> </p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}