{% extends 'base.html' %}

{% block title %}Chat{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
 {% if messages.count > 0 %}
<div class="placeholder"></div>
<div class="row">
     <div class="col-lg-2">
         Chats
     </div>
    <div class="col-lg-8">

         {% for messages in messages %}{%if username == messages.user.username %}
          <div class="left_text">{{messages.message}}{{messages.user}}</div> {% else %}
       <div class="right_text">{{messages.message}}{{messages.user}}</div>  {% endif %} {% endfor %}
        {% endif %}

        <form action="" method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" class="send" value="Submit">
        </form>
    </div>
    <div class="col-lg-2">
         Users
     </div>
        </div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}