{% extends 'base.html' %}

{% block title %}Chat{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="placeholder"></div>
<div class="row">
     <div class="col-lg-2">
{% for chats in chat%}
{% for user in chats.user.all %}
{% if user.id == username.id %}

         Chat {{chats.name}} <br>
{% else %}
<p>You don't have chats</p>


<p>Create Chat:</p>
 <form action="" method="post">{% csrf_token %}
{{ chatform }}
 <input type="submit" value="Create">
      </form>
{% endif %}
{% endfor %}
{% endfor %}
 </div>
    <div class="col-lg-8">
    {% if messages.count > 0 %}
         {% for messages in messages %}{%if username == messages.user.username %}
          <div class="left_text">{{messages.message}}{{messages.user}}</div> {% else %}
       <div class="right_text">{{messages.message}}{{messages.user}}</div>  {% endif %} {% endfor %}
        {% endif %}

        <form action="" method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" class="send" value="Submit">
        </form>
    </div>
    <div class="col-lg-2">
        Users

     </div>
        </div>


{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}