{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    {% if user.is_authenticated %}



    <div class="form">
      <form action="" method="post">
          {% csrf_token %}
      {{ chatform|crispy }}
     <input type="submit" value="Create" />
      </form>
    </div>

  <div class="users_list" style="margin-top: 20px;">
        All users:
        {% for user in user_list %}
        {{user}}
        {%endfor%}
</div>
<div class="chats_list" style="margin-top: 20px;">
        All chats:
        {% for chat in chat_list %}
        {{chat}}
        {%endfor%}
</div>
    {% if message != Null %}
          <p>  {{message}} </p>
        {% endif %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}